.index-login {
    width: 100vw;
    height: 100vh;
    background: fixed center url('../../assets/login-bg.png') #F0F2F5 no-repeat;
}

.index-login .login-contain {
    position: absolute;
    width: 420px;
    height: auto;
    top: 143px;
    right: 258px
}

.login-contain .content {
    background: #fdfdfd;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.login-contain .content img {
    width: 80px;
    height: auto;
    margin-bottom: 30px;
}

.login-contain .content h2 {
    color: rgb(38, 38, 38)
}

.login-contain .content .wel-word {
    font-size: 18px;
    color: rgb(38, 38, 38);
    margin-top: 10px;
    margin-bottom: 40px;
}

.content .login-form {
    width: 320px;
    height: auto;
}

.input-box {
    width: 100%;
}

.button-box {
    display: flex;
    flex-direction: column;
}

.button-box .button {
    margin-top: 15px;
    height: 40px;
}

.content .login-form .login-input {
    border-radius: 5px;
}