.index-login {
    background-color: #F0F2F5;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: auto;
}

@media (min-width:768px) {
    .index-login {
        background-image: url('../../assets/login-bg.png');
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .index-login {
        background-image: url('../../assets/login-bg-mobile.png');
    }
}

.index-login .login-contain {
    position: absolute;
    width: 420px;
    height: auto;
    top: 143px;
    right: 218px;
    transition: all 0.2s;
}

.login-contain:hover {
    box-shadow: 10px 14px 32px 5px rgba(7, 0, 2, .08);
    transform: translateY(-3px);
    transition: all 0.2s;
}

.login-contain .content {
    background: #fdfdfd;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.login-contain .content img {
    width: 80px;
    height: auto;
    margin-bottom: 30px;
}

.login-contain .content h2 {
    color: rgb(38, 38, 38)
}

.login-contain .content .wel-word {
    font-size: 18px;
    color: rgb(38, 38, 38);
    margin-top: 10px;
    margin-bottom: 40px;
}

.content .login-form {
    width: 320px;
    height: auto;
}

.input-box {
    width: 100%;
}

.button-box {
    display: flex;
    flex-direction: column;
}

.button-box .button {
    margin-top: 15px;
    height: 40px;
}

.content .login-form .login-input {
    border-radius: 5px;
}