.ant-checkbox-group {
    display: flex;
    flex-direction: column;
}

.ant-checkbox-wrapper+.ant-checkbox-wrapper {
    margin-left: 0
}

.ant-checkbox-inner {
    border-radius: 50%;
    width: 15px;
    height: 15px
}